In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader.data as web
import datetime as dt


from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.layers import Dense, Dropout, LSTM
from tensorflow.keras.models import Sequential

import yfinance as yf

/Users/hanif/Documents/machine learning/ann/.venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
crypto_currency = 'BTC'
against_currency = 'USD'

start = dt.datetime(2019, 1, 1)
end = dt.datetime(2024, 10, 1)

# df = web.DataReader(f'{crypto_currency}-{against_currency}', 'yahoo', start, end)

data = yf.download(f'{crypto_currency}-{against_currency}', start=start, end=end)

print(data)
# 2021-10-12 / 2023-12-19

[*********************100%%**********************]  1 of 1 completed

                    Open          High           Low         Close  \
Date
2019-01-01   3746.713379   3850.913818   3707.231201   3843.520020
2019-01-02   3849.216309   3947.981201   3817.409424   3943.409424
2019-01-03   3931.048584   3935.685059   3826.222900   3836.741211
2019-01-04   3832.040039   3865.934570   3783.853760   3857.717529
2019-01-05   3851.973877   3904.903076   3836.900146   3845.194580
...                  ...           ...           ...           ...
2024-09-26  63138.546875  65790.796875  62669.269531  65181.019531
2024-09-27  65180.664062  66480.695312  64852.992188  65790.664062
2024-09-28  65792.179688  66255.531250  65458.035156  65887.648438
2024-09-29  65888.898438  66069.343750  65450.015625  65635.304688
2024-09-30  65634.656250  65635.054688  62873.617188  63329.500000

               Adj Close       Volume
Date
2019-01-01   3843.520020   4324200990
2019-01-02   3943.409424   5244856836
2019-01-03   3836.741211   4530215219
2019-01-04   3857.717529   4847965467
2019-01-05   3845.194580   5137609824
...                  ...          ...
2024-09-26  65181.019531  36873129847
2024-09-27  65790.664062  32058813449
2024-09-28  65887.648438  15243637984
2024-09-29  65635.304688  14788214575
2024-09-30  63329.500000  37112957475

[2100 rows x 6 columns]

In [5]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-01,3746.713379,3850.913818,3707.231201,3843.520020,3843.520020,4324200990
2019-01-02,3849.216309,3947.981201,3817.409424,3943.409424,3943.409424,5244856836
2019-01-03,3931.048584,3935.685059,3826.222900,3836.741211,3836.741211,4530215219
2019-01-04,3832.040039,3865.934570,3783.853760,3857.717529,3857.717529,4847965467
2019-01-05,3851.973877,3904.903076,3836.900146,3845.194580,3845.194580,5137609824

In [6]:
data_cut = data["Close"]

In [7]:
data_cut

Date
2019-01-01     3843.520020
2019-01-02     3943.409424
2019-01-03     3836.741211
2019-01-04     3857.717529
2019-01-05     3845.194580
                  ...
2024-09-26    65181.019531
2024-09-27    65790.664062
2024-09-28    65887.648438
2024-09-29    65635.304688
2024-09-30    63329.500000
Name: Close, Length: 2100, dtype: float64

In [8]:
data.to_csv("data/btcpriceolder.csv")